@model Chamber.Web.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Change your Password</h2>
            </div>
        </div>
    </div>
</section>
<br />
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="col-md-12">
            <p><i class="fa fa-lock"></i> <span style="font-weight: 800;">Password Security</span> </p>
            <div style="border:1px solid #3b5998"></div>
        </div>
        <div class="col-md-12">
            <div class="panel-body">
                All passwords are 256 bit encrypted
            </div>
        </div>
    </div>


    <div class="col-md-4 col-sm-4">
        @using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-register" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <p>
                <span style="font-weight:800;">New passwords are required to be a minimum of 6 characters in length.</span>
            </p>
            <br />
            <div class="form-group">
                <label for="OldPassword">Old Password</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

                <div class="form-group">
                    <label for="New Password">New Password</label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div><br />
                <div class="submit-holder">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
        }

    </div>



    <div class="col-md-3 col-sm-3">
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-volume-up"></i> Advertisements</p>
                <div style="border:1px solid #3b5998"></div>
            </div>
            <div class="col-md-12 sponsor-list">
                <img src="~/Content/img/ad/logo_farm.png" class="img-responsive  img-rounded show-in-modal">
                @*<p class="sponsor-name">Southern Star Farm</p>*@
                <p class="sponsor-url"><a href="http://www.southernstarfarm.us" target="_blank">Southern Star Farm</a></p>
                <p class="sponsor-description">Alpaca fashions made with real alpaca fiber.</p>
            </div>
            <div class="col-md-12 sponsor-list">
                <img src="~/Content/img/ad/SouthernStarPetLogo.jpg" class="img-responsive  img-rounded show-in-modal">
                @*<p class="sponsor-name">Southern Star Farm</p>*@
                <p class="sponsor-url"><a href="http://www.southernstarpet.com" target="_blank">Southern Star Pet</a></p>
                <p class="sponsor-description">Board your pets with the best in Lake Martin area.</p>
            </div>
        </div>
    </div>
</div>
