@model Chamber.Web.Areas.Admin.ViewModels.MembershipLevelViewModel

<div class="col-md-12">
    <p><i class="fa fa-building-o"></i> <span style="font-weight: 800;">Create a Membership Level</span> </p>
    <div style="border:1px solid #3b5998"></div>
</div>
<div class="col-md-10">
    @using (Html.BeginForm("AddMembershipLevel", "AdminMembershipLevel", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-group">
            <label for="FirstName">Name</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", maxlength = 200 })
        </div>
        <div class="form-group">
            <label for="FirstName">Description</label>
            @Html.TextAreaFor(x => x.Description, new { @style = "resize:none", @class = "form-control", rows = 3, cols = 50, maxlength = 999 })
        </div>
        <div class="form-group">
            <label for="FirstName">Employee Max</label>
            @Html.TextBoxFor(x => x.EmployeeMax, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="FirstName">Annual Price</label>
            @Html.TextBoxFor(x => x.AnnualPrice, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="FirstName">Semi Annual Price</label>
            @Html.TextBoxFor(x => x.SemiAnnualPrice, new { @class = "form-control" })
        </div>
        <div class="submit-holder">
            <button type="submit" class="btn btn-default">Create Membership Level</button>
        </div>
    }
</div>