@using Chamber.Domain.Constants
@using Chamber.Web.Application
@model Chamber.Web.Areas.Admin.ViewModels.BusinessViewModel

@{
    ViewBag.Title = "Business";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle"><span style="font-weight: 800">Administration:</span> Business</h2>
            </div>
        </div>
    </div>
</section>
<br />

<div class="row">
    <div class="col-md-3 col-sm-3">
        @Html.Partial("_AddBusiness", Model)
    </div>
    <div class="col-md-5 col-sm-5">
        <div class="col-md-12">
            <p><i class="fa fa-bars"></i> <span style="font-weight: 800;">Business List</span></p>
            <div style="border:1px solid #3b5998"></div>
        </div>
        <div class="col-md-12">
            @if (Model._listViewModel.Businesses.Count != 0)
            {
                using (Html.BeginForm("Business", "AdminBusiness", FormMethod.Post))
                {
                    <br />
                    <div class="input-group tablesearch">
                        @Html.TextBoxFor(x => Model.Search, new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div>
                    @Html.HiddenFor(x => x._listViewModel.PageIndex)
                }
            }
            else
            {
                <span>No Businesses have been created.</span>
            }
            @if (Model._listViewModel.Businesses.Count != 0)
            {
                <br />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Classification</th>
                            <th><span style="font-size:smaller">Edit</span></th>
                            <th><span style="font-size:smaller">Contacts</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var business in Model._listViewModel.Businesses)
                        {
                            <tr>
                                <td>
                                    <strong>@business.Name</strong>
                                </td>
                                <td>
                                    @if (business.Classification != null)
                                    {
                                        <strong>@business.Classification.Name</strong>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("UpdateBusiness", "AdminBusiness", new { id = business.Id })" class="btn-sm">
                                        <span class="fa fa-edit" aria-hidden="true"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("POC", "AdminBusiness", new { id = business.Id })" class="btn-sm">
                                        <span class="fa fa-user-md" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model._listViewModel.TotalPages > 1)
            {
                @Html.Pager(Convert.ToInt32(Model._listViewModel.PageIndex), SiteConstants.Instance.SearchListSize, Convert.ToInt32(Model._listViewModel.TotalCount), new { search = Model._listViewModel.Search })
            }
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="row">
            @Html.Partial("_BusinessDashboard", Model)
        </div>
    </div>
</div>