
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Open Source Chamber of Commerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Open Source Chamber of Commerce" />
    <meta name="author" content="https://github.com/CodeHeight/Chamber" />
    <!-- css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/et-line-font/style.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
</head>
<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            @*<img src="~/Content/img/LogoRiver.png" alt="logo" class="profile-photo" />*@
                            <img src="~/Content/img/menuLogo.png" alt="logo" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse ">

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("About", "Home")">About</a></li>
                            <li><a href="#">Members</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Media</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="pageTitle">Add Business to Chamber</h2>
                    </div>
                </div>
            </div>
        </section>
        <br />

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm("Add", "Business", FormMethod.Post, new { @class = "form-register" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label for="exampleInputEmail1">Business Name</label>
                        <input type="text" class="form-control" id="BusinessName" placeholder="Business Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Membership Level</label>
                        <input type="text" class="form-control" id="MembershipLevel" placeholder="Membership Level">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Classification</label>
                        <input type="text" class="form-control" id="Classification" placeholder="Classification">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact Name</label>
                        <input type="text" class="form-control" id="ContactName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact Phone</label>
                        <input type="text" class="form-control" id="ContactPhone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact Email</label>
                        <input type="email" class="form-control" id="ContactEmail" placeholder="Email">
                    </div>
                    <div class="submit-holder">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                }
            </div>
        </div>


        <div>
            <footer>
                @*<div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="widget">
                                    <h5 class="widgetheading">Our Contact</h5>
                                    <address>
                                        <strong>County Chamber of Commerce</strong><br>
                                        P.O. Box 25<br>
                                     
                                    </address>
                                    <p>
                                        <i class="icon-phone"></i> (123) 456-789 <br>
                                        <i class="icon-envelope-alt"></i> chamber@gmail.com
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget">
                                    <h5 class="widgetheading">Quick Links</h5>
                                    <ul class="link-list">
                                        <li><a href="#">Latest Events</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget">
                                    <h5 class="widgetheading">Latest posts</h5>
                                    <ul class="link-list">
                                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                        <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                        <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget">
                                    <h5 class="widgetheading">Recent News</h5>
                                    <ul class="link-list">
                                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                        <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                        <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div id="sub-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="copyright">
                                    <p>
                                        <span>
                                            Developed By:<br /> <a href="http://www.southernstartech.us" target="_blank" alt="Southern Star Technology">
                                                <img style="border: none;" src="~/Content/img/SS_Tech_white.png" />
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="copyright">
                                    <p>
                                        <span>
                                            <a href="#" alt="County Chamber of Commerce">
                                                <img style="border: none;" src="~/Content/img/footerLogo.png" class="footerlogo" />
                                            </a>
                                            <br /> Copyright © 2016
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <ul class="social-network">
                                    <li><a target="_blank" href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a target="_blank" href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    @*<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>*@
                                </ul>
                                <div class="widget">
                                    <h5 class="widgetheading">Our Contact</h5>
                                    <address>
                                        <strong>Chamber of Commerce</strong><br>
                                        P.O. Box <br>
                                        Montgomery, AL 35136
                                    </address>
                                    <p>
                                        <i class="icon-phone"></i> (123) 456-789 <br>
                                        <i class="icon-envelope-alt"></i>chamber@gmail.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/js/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/Scripts/js/portfolio/setting.js"></script>
    <script src="~/Scripts/js/jquery.flexslider.js"></script>
    <script src="~/Scripts/js/animate.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
</body>
</html>
